@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oswald:wght@600&display=swap');

body{
  background-color: #9fc9fc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  font-family: 'Bakbak One', cursive;
  height: 200px;
  font-size: 25px;
  position: relative;
  box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);

}
.game-line {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  box-shadow: -2px 2px 6px 1px rgba(0,0,0,0.55);
-webkit-box-shadow: -2px 2px 2px 1px rgba(0,0,0,0.55);
-moz-box-shadow: -2px 2px 6px 1px rgba(0,0,0,0.55);
}

.vs {
  font-size: 40px;
  font-family: 'Bakbak One', cursive;
  align-self: center;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.team-logo {
  width: 100px;
  position: relative;
  top: 30px;
  
}

.winner{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: 'Bakbak One', cursive;
  position: fixed;
  width: 300px;
  height: 200px;
  top: 30%;
  right: 80px;
  border: 3px solid #000000;
  border-radius: 6px;
  box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
  background-color: #FFFFFF;
}

.generate-team-button{
  margin-bottom: 15px;
  margin-top: 0px;
}

.generate-winner-button{
  margin-top: 15px;
  
}

.generate-team-button, .generate-winner-button{
  width: 300px;
  height: 50px;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  transition: all 0.05s ease-in-out;
  background-color: #FF4742;
  color: #FFFFFF;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  }
  
  .generate-team-button:hover, .generate-winner-button:hover{
  transform: translateY(2px);
  box-shadow: 0px 2px 5px 0px black;
  color: #FFFFFF;
  }
  
  .generate-team-button:active, .generate-winner-button:active{
  background-color: white;
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  color: #FF4742;
  }

.team-name-container {
  position: absolute;
  top: 10px; 
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 50px;
  font-family: 'Bakbak One', cursive;
  margin-bottom: 10px;
}


h1 {
  color : black;
  font-size: 50px;
  font-family: 'Bakbak One', cursive;
}

.bank-container {
  position: fixed;
  width: 250px;
  top: 40%;
  left: 80px;
  text-align: center;
  border: 3px solid #000000;
  border-radius: 6px;
  box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -13px 14px 6px 1px rgba(0,0,0,0.75);
  background-color: #FFFFFF;
}

.bank{
  margin:0px;
}


.arizonacardinals{
  background-color: rgb(151, 35, 63, .8);
  color: black;
}

.atlantafalcons{
  background-color: rgb(167, 25, 48, .8);
  color: black;
}

.buffalobills{
  background-color: rgb(0, 51, 141, .8);
  color: #C60C30;
}

.carolinapanthers{
  background-color: rgb(0, 133, 202, .8);
  color: black;
}

.chicagobears{
  background-color: rgb(242, 101, 34, .8);
  color: rgb(0, 20, 63);
}

.baltimoreravens{
  background-color: rgb(26, 25, 95, .8);
  color: white;
}

.cincinnatibengals{
  background-color: rgb(251, 79, 20, .8);
  color: black;
}

.clevelandbrowns{
  background-color: rgb(34, 21, 12);
  color: rgb(251, 79, 20);
}

.dallascowboys { 
  background-color: rgb(12, 38, 76, .8);
  color: rgb(176, 183, 188);
}
.denverbroncos { 
  background-color: rgb(251, 79, 20, 0.8);
  color: rgb(0, 34, 68);
}

.detroitlions { 
  background-color: rgb(4, 110, 180, .8);
  color: rgb(176, 183, 188);
}
.greenbaypackers {
  background-color: rgb(36, 66, 60, .8);
  color:  rgb(252, 190, 20);
}
.houstontexans { 
  background-color: rgb(0, 20, 63, .8);
  color: rgb(201, 36, 63);
}
.indianapoliscolts { 
  background-color: rgb(0, 61, 121, .8);
  color: white;
}
.jacksonvillejaguars { 
  background-color: rgb(216, 163, 40, .8);
  color: rgb(19, 102, 119);
}

.kansascitychiefs { 
  background-color: rgb(202, 36, 48, .8);
  color: rgb(255, 182, 18);
}
.losangeleschargers { 
  background-color: rgb(32, 114, 186, .8);
  color: rgb(253, 181, 21);
}
.losangelesrams { 
  background-color: rgb(255, 209, 0, .8);
  color: rgb(0, 53, 148);
}
.miamidolphins { 
  background-color: rgb(0, 142, 151, .8);
  color: rgb(252, 76, 2);
}
.minnesotavikings { 
  background-color: rgb(79, 46, 132, .8);
  color: rgb(254, 198, 47);
}
.newenglandpatriots { 
  background-color: rgb(10, 35, 66, .8);
  color: rgb(200, 31, 50);
}
.neworleanssaints { 
  background-color: rgb(160, 138, 88, .8);
  color: black;
}
.newyorkgiants { 
  background-color: rgb(25, 46, 108, .8);
  color: rgb(178, 0, 50);
}
.newyorkjets { 
  background-color: rgb(32, 55, 49, .8);
  color: white;
}
.lasvegasraiders { 
  background-color: rgb(196, 201, 204, .8);
  color: black;
}
.philadelphiaeagles { 
  background-color: rgb(1, 74, 83, .8);
  color: rgb(187, 196, 201);
}
.pittsburghsteelers { 
  background-color: rgb(255, 194, 14, .8);
  color: black;
}

.sanfrancisco49ers { 
  background-color: rgb(201, 36, 63, .8);
  color: rgb(200, 170, 118);
}
.seattleseahawks { 
  background-color: rgb(0, 42, 92, .8);
  color: rgb(122, 193, 66);
}
.tampabaybuccaneers { 
  background-color: rgb(212, 9, 9, .8);
  color: rgb(176, 185, 191);
}
.tennesseetitans { 
  background-color: rgb(64, 149, 209, .8);
  color: rgb(0, 41, 91);
}
.washingtoncommanders { 
  background-color: rgb(90, 20, 20, .8);
  color: rgb(255, 182, 18);
}
